body{
    margin: 0px;
    background-color: rgb(255, 246, 239);
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    color: whitesmoke;
    background-position: center;
    background-attachment: fixed;
    background-image: url("jpg.jpg");
    background-size: cover;
    text-shadow: 0 0 20px black;
    text-align: center;
    padding-bottom: 100px;
    height: 520px;
    padding-top: 90px;
    width: 100%;
    font-size: 150%;
    margin: 0px;
}
.content img{
    margin-top: 80px;
    border-radius: 40px;
    transition: transform .2s;
}
img{
    border-radius: 5px;
}
.content h2{
    font-size: 50px;
    padding: 24px;
}
.gallery{
    display: flex;
    padding-inline: 20px;
    width: 100%;
}
.box{
    padding-top: 100px;
    width: 40%;
    float: left;
    margin: 20px;
    padding-right: 30px;
    padding-left: 20px;
}
.photo{
    float: right;
}
.pict{
    box-shadow: 0 0 10px black;
    float: right;
    margin-left: 10px;
    border-radius: 10px;
    background-color: white;
    padding: 25px;
    transition: transform .2s;
    width: 300px;
    rotate: 10deg;
}
.pict2{
    box-shadow: 0 0 10px black;
    float: right;
    border-radius: 10px;
    background-color: white;
    padding: 25px;
    transition: transform .2s;
    width: 300px;
    margin-top: 10%;
    rotate: -2deg;
}
.content2{
    display: flex;
    background-color: wheat;
    width: 100%;
}
.pict3{
    width: 40%;
    box-shadow: 0 0 10px black;
    float: left;
    margin-left: 10px;
    border-radius: 10px;
    background-color: white;
    padding: 25px;
    transition: transform .2s;
    width: 300px;
    height: 350px;
    rotate: -5deg;
}
.box1 {
    background-color: wheat;
    width: 60%;
    float: right;
    padding-inline: 80px;
    margin-right: 80px;
}
.box1 h2{
    font-size: 50px;
}
.box1 p{
    font-size: 24px;

}
.box h2{
    font-size: 50px;
}
.box p{
    font-size: 30px;
}
.pict:hover{
    transform: scale(1.1);
}
.pict2:hover{
    transform: scale(1.1);
}
.pict3:hover{
    transform: scale(1.1);
}
.content img:hover{
    transform: scale(1.1);
}
.kado{
    display: flex;
    float: right;
    margin-right: 30px;
}
.kado img{
    rotate: -10deg;
}
.kado a:link{
    margin-top: 40px;;
    border-radius: 10px;
    margin-right: 10px;
    width: 150px;
    height: 40px;
    padding: 20px;
    background-color: white;
    text-decoration: none; 
    color: black;
    rotate: 5deg;
    box-shadow: 0 0 10px black;
    transition: transform .2s;
}
.kado a:visited{
    text-decoration: none; 
    color: black;
}
.kado a:hover{
    transform: scale(1.1);
}
